<div class="headerSpacer" style="height:40px;"></div>
<div style="padding:20px;">
<h1>Blog </h2>
 
<h2>{{ 'blog.message' | translate }}</h2>
<p><h3>{{ 'blog.thx' | translate }}</h3>
<p>{{ 'blog.specialThx' | translate }}
<p><a href="" ng-click="blogVm.callExtern('http://acidome.ru/lab/calc/#1/2_Piped_D100_2V_R2.1_beams_60x30')">{{ 'blog.link.acidome' | translate }}</a>
<p>
<p>{{ 'blog.bigThx' | translate }}
<p>
<a href="" ng-click="blogVm.callExtern('http://northernhomestead.com/how-to-build-a-geodome-greenhouse/')">{{ 'blog.link.northernhomestead' | translate }}</a>
<br><a href="" ng-click="blogVm.callExtern('http://www.desertdomes.com/domecalc.html')">{{ 'blog.link.desertdomes' | translate }}</a>
<br><a href="" ng-click="blogVm.callExtern('http://www.domegeodesique.com/index.php/accueil-menu-de')">{{ 'blog.link.domegeodesique' | translate }}</a>

<div>