<div class="headerSpacer" style="height:40px;"></div>

<div class="container">
	<div class="row">
		  <div class="col-md-7">
		  		<div style="width:100%; height:100%;">

					<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 width="100%" height="50%" viewBox="0 0 2015 2015" enable-background="new 0 0 2015 2015"
						 xml:space="preserve">
					    <defs>
					        <pattern id="pattern1" patternUnits="userSpaceOnUse" width="300" height="150">
					            <image xlink:href="/images/misc/radieschen03.jpg" x="0" y="0" width="150" height="150" />
					            	<image xlink:href="/images/misc/gurke03.jpg" x="150" y="0" width="150" height="150" />
					        </pattern>
					        <pattern id="pattern3" patternUnits="userSpaceOnUse" width="400" height="200">
					            <image id="img1" xlink:href="/images/misc/radieschen02.jpg" x="0" y="0" width="200" height="200" />
					            <image id="img2" xlink:href="/images/misc/gurke02.jpg" x="200" y="0" width="200" height="200" />
					        </pattern>
					        
					 				<pattern id="pattern2" patternUnits="userSpaceOnUse" x="0" y="0" width="100" height="50">
					               <image xlink:href="/images/misc/radieschen_kl.jpg" x="0" y="0" width="50" height="50" />
					        </pattern>         
					    </defs>

											     
					  <polygon id="decagon" class="decagon" points="700,0 1300,0 1804,360 2000,1000 1804,1640 1300,2000 700,2000 196,1640 0,1000 196,360"/>
					
					  <circle class="greenHousePath greenHousePathCircle" cx="1000" cy="1000" r="500"/>
					  
					  <line x1="700" y1="0" x2="1300" y2="2000" style="stroke:rgb(0,0,0);stroke-width:12" />
					  <line x1="1300" y1="0" x2="700" y2="2000" style="stroke:rgb(0,0,0);stroke-width:12" />
					  <line x1="1804" y1="360" x2="196" y2="1640" style="stroke:rgb(0,0,0);stroke-width:12" />
					  <line x1="2000" y1="1000" x2="0" y2="1000" style="stroke:rgb(0,0,0);stroke-width:12" />
					  <line x1="1804" y1="1640" x2="196" y2="360" style="stroke:rgb(0,0,0);stroke-width:12" />
					  
					  <polygon id="outerPoly1" ng-click="harvestVm.onClick(1)" class="outerPoly1" points="1300,0 1804,360 1450,630 1160,460"/>
					  <polygon id="outerPoly2" ng-click="harvestVm.onClick(2)" class="outerPoly2" points="1804,360 2000,1000 1580,1000 1450,630" />
					  <polygon id="outerPoly3" ng-click="harvestVm.onClick(3)" class="outerPoly3" points="2000,1000 1804,1640 1460,1360 1580,1000" />
					  <polygon id="outerPoly4" ng-click="harvestVm.onClick(4)" class="outerPoly4" points="1804,1640 1300,2000 1170,1550 1460,1360" />
					  <polygon id="outerPoly5" ng-click="harvestVm.onClick(5)" class="outerPoly5" points="1300,2000 700,2000 840,1550 1170,1550 " />
					  <polygon id="outerPoly6" ng-click="harvestVm.onClick(6)" class="outerPoly6" points="700,2000 196,1640 550,1370 840,1550" />
					  <polygon id="outerPoly7" ng-click="harvestVm.onClick(7)" class="outerPoly7" points="196,1640 0,1000 420,1000 550,1370" />
					  <polygon id="outerPoly8" ng-click="harvestVm.onClick(8)" class="outerPoly8" points="0,1000 196,360 550,630 420,1000" />
					  <polygon id="outerPoly9" ng-click="harvestVm.onClick(9)" class="outerPoly9" points="196,360 700,0 840,460 550,630" />
					  <polygon id="outerPoly10" ng-click="harvestVm.onClick(10)" class="outerPoly10" points="700,0 1300,0 1160,460 840,460"/>
					  
					  
					  <polygon id="innerPoly1" ng-click="harvestVm.onClick(11)" class="innerPoly1" points="1120,590 1340,720 1000,1000" />
					  <polygon id="innerPoly2" ng-click="harvestVm.onClick(12)" class="innerPoly2" points="1340,720 1430,1000 1000,1000" />
					  <polygon id="innerPoly3" ng-click="harvestVm.onClick(13)" class="innerPoly3" points="1430,1000 1340,1270 1000,1000" />
					  <polygon id="innerPoly4" ng-click="harvestVm.onClick(14)" class="innerPoly4" points="1340,1270 1130,1410 1000,1000" />
					  <polygon id="innerPoly5" ng-click="harvestVm.onClick(15)" class="innerPoly5" points="1130,1410 870,1410 1000,1000" />
					  <polygon id="innerPoly6" ng-click="harvestVm.onClick(16)" class="innerPoly6" points="870,1410 670,1270 1000,1000" />
					  <polygon id="innerPoly7" ng-click="harvestVm.onClick(17)" class="innerPoly7" points="670,1270 570,1000 1000,1000" />
					  <polygon id="innerPoly8" ng-click="harvestVm.onClick(18)" class="innerPoly8" points="570,1000 660,720 1000,1000" />
					  <polygon id="innerPoly9" ng-click="harvestVm.onClick(19)" class="innerPoly9" points="660,720 870,590 1000,1000" />
					  <polygon id="innerPoly10" ng-click="harvestVm.onClick(20)" class="innerPoly10" points="1120,590 870,590 1000,1000" />
					  
					  <polygon class="greenHousePath" points="1604,1790 1500,1860 1250,1500 1390,1410" />
					
					</svg>
					</div>					


		  </div>
		  <div class="col-md-5">
		  	  <table class="table table-bordered">
				    <thead>
				      <tr>
				        <th><a href=""><span class="glyphicon glyphicon-plus"></span></a></th>
				        <th>{{ 'harvest.table.date' | translate }}</th>
				        <th>{{ 'harvest.table.vegie' | translate }}</th>
				        <th>{{ 'harvest.table.amount' | translate }}</th>
				        <th>{{ 'harvest.table.unit' | translate }}</th>
				        <th>{{ 'harvest.table.sector' | translate }}</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="harvest in harvestVm.harvests | filter: { sector : harvestVm.currentSector }: true">
							  <td><span ng-click="harvestVm.deleteHarvest(harvest.id)" class="glyphicon glyphicon-remove"></td>
							  <td>{{harvest.plantdate}}</td>
							  <td>{{harvest.vegetable}}</td>
							  <td>{{harvest.amount}}</td>
							  <td>{{harvest.unit}}</td>
							  <td>{{harvest.sector}}</td>
				      </tr>      
				    </tbody>
				  </table>
		  </div>
	</div>
</div>

	
					
						
